$themes: (
  theme-red: (
    color-without-background: #f44336,
    background-color: #f44336,
    color-with-background: #ffffff
  ),
  theme-cyan: (
    color-without-background: #00ffff,
    background-color: #00ffff,
    color-with-background: #ffffff
  ),
  theme-blue: (
    color-without-background: #0000ff,
    background-color: #0000ff,
    color-with-background: #ffffff
  ),
  theme-darkblue: (
    color-without-background: #0000a0,
    background-color: #0000a0,
    color-with-background: #ffffff
  ),
  theme-lightblue: (
    color-without-background: #add8e6,
    background-color: #add8e6,
    color-with-background: #ffffff
  ),
  theme-purple: (
    color-without-background: #800080,
    background-color: #800080,
    color-with-background: #ffffff
  ),
  theme-yellow: (
    color-without-background: #ffff00,
    background-color: #ffff00,
    color-with-background: #ffffff
  ),
  theme-lime: (
    color-without-background: #00ff00,
    background-color: #00ff00,
    color-with-background: #ffffff
  ),
  theme-magenta: (
    color-without-background: #ff00ff,
    background-color: #ff00ff,
    color-with-background: #ffffff
  ),
  theme-white: (
    color-without-background: #ffffff,
    background-color: #ffffff,
    color-with-background: #ffffff
  ),
  theme-silver: (
    color-without-background: #c0c0c0,
    background-color: #c0c0c0,
    color-with-background: #ffffff
  ),
  theme-gray or grey:
    (
      color-without-background: #808080,
      background-color: #808080,
      color-with-background: #ffffff
    ),
  theme-black: (
    color-without-background: #000000,
    background-color: #000000,
    color-with-background: #ffffff
  ),
  theme-orange: (
    color-without-background: #ffa500,
    background-color: #ffa500,
    color-with-background: #ffffff
  ),
  theme-brown: (
    color-without-background: #a52a2a,
    background-color: #a52a2a,
    color-with-background: #ffffff
  ),
  theme-maroon: (
    color-without-background: #800000,
    background-color: #800000,
    color-with-background: #ffffff
  ),
  theme-green: (
    color-without-background: #008000,
    background-color: #008000,
    color-with-background: #ffffff
  ),
  theme-olive: (
    color-without-background: #808000,
    background-color: #808000,
    color-with-background: #ffffff
  )
);
