@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 0.7rem;
  grid-row-gap: 1rem;
}

.food {
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.food .food__img {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
}

.food .food__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.food:hover {
  cursor: pointer;
  -webkit-box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.food:hover .food__img img {
  -webkit-transform: scale(2) rotate(10deg);
          transform: scale(2) rotate(10deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.food .food__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.food .food__input input {
  width: calc(100% - 7.5rem);
}

.food .food__input button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.food .food__info {
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.food .food__info h5 {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.food .food__info p {
  margin: 0;
  padding: 0;
  text-align: right;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
}

.cartpanel .cartpanel__headtext {
  background-color: #ccc;
  padding: 0.5rem;
}

.cartpanel .cartpanel__headtext h5 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cartpanel .cartpanel__list {
  background-color: #fff;
  padding: 0.5rem;
}

.cartpanel .cartpanel__list .cartpanel__total p span {
  font-size: 1rem;
  font-weight: 600;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item {
  height: 3.5rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-fill-mode: "";
  -webkit-animation-fill-mode: "";
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item .cartpanel__itemimg {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item .cartpanel__itemimg img {
  height: 100%;
  width: 100%;
  margin: 0;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item .cartpanel__iteminfo {
  width: calc(100% - 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.3rem;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item .cartpanel__iteminfo h5 {
  font-size: 1rem;
  font-weight: 600;
}

.cartpanel .cartpanel__list .cartpanel__listbody .cartpanel__item .cartpanel__iteminfo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.cartpanel .cartpanel__list .cartpanel_checkout button {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=Order.css.map */